<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.support.android.designlibdemo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo" >
        <activity android:name="com.designdemo.uaha.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.designdemo.uaha.DetailActivity"
            android:parentActivityName="com.designdemo.uaha.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designdemo.uaha.MainActivity" />
        </activity>
        <activity
            android:name="com.designdemo.uaha.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
    </application>

</manifest>
